<div style="width: 100%; height: 100%; position: relative; background: white">
  <img
    style="width: 100%; height: auto"
    src="{{ url_for('static', filename='images/Group 1.png') }}"
    alt="Navbar"
  />
  <div
    style="
      width: 742px;
      height: 163px;
      left: 349px;
      top: 244px;
      position: absolute;
      text-align: center;
      color: #18181b;
      font-size: 56px;
      font-family: Almarai;
      font-weight: 700;
      line-height: 67.6px;
      word-wrap: break-word;
    "
  >
    نغذي أطفالكم بالخيال الذي يسعدهم وينميهم!
  </div>
  <div
    style="
      width: 742px;
      height: 79px;
      left: 349px;
      top: 1162px;
      position: absolute;
      text-align: center;
    "
  >
    <span
      style="
        color: #18181b;
        font-size: 48px;
        font-family: Almarai;
        font-weight: 700;
        line-height: 57.94px;
        word-wrap: break-word;
      "
      >لا تجعل طفلك يصاب </span
    ><span
      style="
        color: #ff6347;
        font-size: 48px;
        font-family: Almarai;
        font-weight: 700;
        line-height: 57.94px;
        word-wrap: break-word;
      "
      >بالملل</span
    ><span
      style="
        color: #18181b;
        font-size: 48px;
        font-family: Almarai;
        font-weight: 700;
        line-height: 57.94px;
        word-wrap: break-word;
      "
    >
      مطلقا!</span
    >
  </div>
  <div
    style="
      width: 688px;
      left: 376px;
      top: 431px;
      position: absolute;
      text-align: center;
      color: #52525b;
      font-size: 24px;
      font-family: Almarai;
      font-weight: 400;
      line-height: 28.97px;
      word-wrap: break-word;
    "
  >
    أنشئ قصصا بلغة سليمة تسعد طفلك وتعلمه قيما مناسبة لعمره
  </div>
  <div
    style="
      width: 688px;
      left: 377px;
      top: 1245px;
      position: absolute;
      text-align: center;
      color: #52525b;
      font-size: 24px;
      font-family: Almarai;
      font-weight: 400;
      line-height: 28.97px;
      word-wrap: break-word;
    "
  >
    نوفر قصصا من شتى الأصناف لطفلك، نريه من كل العوالم لمحة، نوسع نظرته، ونحفز
    خياله وفضوله!
  </div>
  <div
    style="
      height: 52px;
      padding-left: 32px;
      padding-right: 32px;
      padding-top: 12px;
      padding-bottom: 12px;
      left: 573px;
      top: 508px;
      position: absolute;
      background: #fec5bb;
      border-radius: 60px;
      justify-content: center;
      align-items: center;
      gap: 8px;
      display: inline-flex;
    "
  >
    <div
      style="
        width: 20px;
        height: 20px;
        justify-content: center;
        align-items: center;
        display: flex;
      "
    >
      <div style="width: 20px; height: 20px; position: relative">
        <!-- <div style="width: 20px; height: 20px; left: 0px; top: 0px; position: absolute; background: black; border: 1.25px #18181B solid"></div>
                <div style="width: 17.90px; height: 17.37px; left: 1.05px; top: -1.05px; position: absolute">
                    <div style="width: 14.56px; height: 16.84px; left: 3.34px; top: -0.53px; position: absolute; background: #FF6347"></div>
                    <div style="width: 5.08px; height: 6.32px; left: 2.28px; top: 0px; position: absolute; background: #FF6347"></div>
                    <div style="width: 5.09px; height: 5.09px; left: 0px; top: -12.10px; position: absolute; background: #FF6347"></div>
                </div> -->
      </div>
    </div>
    <a href="{{ url_for('prompt') }}" style="text-decoration: none">
      <div
        style="
          text-align: center;
          color: #18181b;
          font-size: 24px;
          font-family: Almarai;
          font-weight: 700;
          word-wrap: break-word;
        "
      >
        أنشئ مغامرتك الآن
      </div>
    </a>
  </div>
  <div
    style="
      width: 341px;
      height: 270px;
      left: 260px;
      top: 803px;
      position: absolute;
      justify-content: center;
      align-items: center;
      display: inline-flex;
    "
  >
    <img
      style="width: 341px; height: 322.13px"
      src="{{ url_for('static',
    filename='images/Picture image.png') }}"
    />
  </div>
  <div
    style="
      width: 372px;
      height: 338px;
      left: 535px;
      top: 621px;
      position: absolute;
      justify-content: center;
      align-items: center;
      display: inline-flex;
    "
  >
    <img
      style="width: 382.52px; height: 353.62px"
      src="{{ url_for('static', filename='images/Picture image-5.png') }}"
    />
  </div>
  <div
    style="
      left: 864px;
      top: 665px;
      position: absolute;
      justify-content: flex-end;
      align-items: center;
      display: inline-flex;
    "
  >
    <img
      style="width: 309.43px; height: 274.35px"
      src="{{ url_for('static',
    filename='images/Picture image-4.png')}}"
    />
  </div>
  <div
    style="
      width: 365px;
      height: 253px;
      left: 893px;
      top: 832px;
      position: absolute;
      justify-content: center;
      align-items: center;
      display: inline-flex;
    "
  >
    <img
      style="width: 330.06px; height: 279.76px"
      src="{{ url_for('static', filename='images/Picture image-3.png') }}"
    />
  </div>
  <div
    style="
      height: 244px;
      left: 593px;
      top: 855px;
      position: absolute;
      justify-content: flex-start;
      align-items: center;
      display: inline-flex;
    "
  >
    <img
      style="width: 320.81px; height: 244px"
      src="{{ url_for('static', filename='images/Picture image-2.png') }}"
    />
  </div>

  <div
    style="
      width: 239px;
      left: 349px;
      top: 665px;
      position: absolute;
      justify-content: center;
      align-items: center;
      display: inline-flex;
    "
  >
    <img
      style="width: 309px; height: 203px"
      src="{{ url_for('static', filename='images/Picture image-6.png') }}"
    />
  </div>
  <div
    style="
      left: 615px;
      top: 201px;
      position: absolute;
      text-align: center;
      color: #ff6347;
      font-size: 20px;
      font-family: Almarai;
      font-weight: 400;
      line-height: 24.14px;
      word-wrap: break-word;
    "
  >
    مكتبة وراوٍ للأطفال العرب
  </div>
  <div
    style="
      width: 1245px;
      height: 21px;
      left: 97px;
      top: 1626px;
      position: absolute;
      background: url('images/Divider.png');
      background-size: cover;
      background-position: center;
      border-radius: 10px;
    "
  ></div>

  <div
    id="carousel"
    style="
      width: 1153px;
      left: 144px;
      top: 1410px;
      position: absolute;
      display: flex;
      overflow: hidden;
    "
  >
    <!-- Carousel items -->
    <div
      class="carousel-container"
      style="
        display: flex;
        transition: transform 0.3s ease;
        gap: 10px;
        justify-content: flex-end;
      "
    >
      <div
        class="carousel-item"
        style="
          width: 300px;
          height: 216px;
          position: relative;
          border-radius: 20px;
          overflow: hidden;
        "
      >
        <div
          style="
            width: 300px;
            height: 216px;
            left: 0px;
            top: 0px;
            position: absolute;
            background: linear-gradient(
                180deg,
                rgba(0, 0, 0, 0) 0%,
                rgba(0, 0, 0, 0.85) 100%
              ),
              url('images/Story\ image-4.png');
            background-size: cover;
            background-position: center;
          "
        ></div>
        <div
          style="
            left: 149px;
            top: 147px;
            position: absolute;
            text-align: right;
            color: #ffd7ba;
            font-size: 25px;
            font-family: Almarai;
            font-weight: 700;
            line-height: 30.18px;
            word-wrap: break-word;
          "
        >
          مدينة الغيوم
        </div>
        <div
          style="
            left: 18px;
            top: 181px;
            position: absolute;
            text-align: right;
            color: white;
            font-size: 16px;
            font-family: Almarai;
            font-weight: 400;
            line-height: 19.31px;
            word-wrap: break-word;
          "
        >
          التطلع والاستكشاف - من 5 إلى 8 سنوات
        </div>
      </div>
      <div
        class="carousel-item"
        style="
          width: 300px;
          height: 216px;
          position: relative;
          border-radius: 20px;
          overflow: hidden;
        "
      >
        <div
          style="
            width: 300px;
            height: 216px;
            left: 0px;
            top: 0px;
            position: absolute;
            background: linear-gradient(
                180deg,
                rgba(0, 0, 0, 0) 0%,
                rgba(0, 0, 0, 0.85) 100%
              ),
              url('images/Story\ image-3.png');
            background-size: cover;
            background-position: center;
          "
        ></div>
        <div
          style="
            left: 119px;
            top: 147px;
            position: absolute;
            text-align: right;
            color: #ffd7ba;
            font-size: 25px;
            font-family: Almarai;
            font-weight: 700;
            line-height: 30.18px;
            word-wrap: break-word;
          "
        >
          الروبوت الرسام
        </div>
        <div
          style="
            left: 67px;
            top: 181px;
            position: absolute;
            text-align: right;
            color: white;
            font-size: 16px;
            font-family: Almarai;
            font-weight: 400;
            line-height: 19.31px;
            word-wrap: break-word;
          "
        >
          قيمة الابتكار - من 8 إلى 10 سنوات
        </div>
      </div>
      <div
        class="carousel-item"
        style="
          width: 300px;
          height: 216px;
          position: relative;
          border-radius: 20px;
          overflow: hidden;
        "
      >
        <div
          style="
            width: 300px;
            height: 216px;
            left: 0px;
            top: 0px;
            position: absolute;
            background: linear-gradient(
                180deg,
                rgba(0, 0, 0, 0) 0%,
                rgba(0, 0, 0, 0.85) 100%
              ),
              url('images/Story\ image.png');
            background-size: cover;
            background-position: center;
          "
        ></div>
        <div
          style="
            left: 173px;
            top: 147px;
            position: absolute;
            text-align: right;
            color: #ffd7ba;
            font-size: 25px;
            font-family: Almarai;
            font-weight: 700;
            line-height: 30.18px;
            word-wrap: break-word;
          "
        >
          بذور الأمل
        </div>
        <div
          style="
            left: 68px;
            top: 181px;
            position: absolute;
            text-align: right;
            color: white;
            font-size: 16px;
            font-family: Almarai;
            font-weight: 400;
            line-height: 19.31px;
            word-wrap: break-word;
          "
        >
          قيمة التفاؤل - من 5 إلى 8 سنوات
        </div>
      </div>
      <div
        class="carousel-item"
        style="
          width: 300px;
          height: 216px;
          position: relative;
          border-radius: 20px;
          overflow: hidden;
        "
      >
        <div
          style="
            width: 300px;
            height: 216px;
            left: 0px;
            top: 0px;
            position: absolute;
            background: linear-gradient(
                180deg,
                rgba(0, 0, 0, 0) 0%,
                rgba(0, 0, 0, 0.85) 100%
              ),
              url('images/Story\ image-5.png');
            background-size: cover;
            background-position: center;
          "
        ></div>
        <div
          style="
            left: 145px;
            top: 147px;
            position: absolute;
            text-align: right;
            color: #ffd7ba;
            font-size: 25px;
            font-family: Almarai;
            font-weight: 700;
            line-height: 30.18px;
            word-wrap: break-word;
          "
        >
          الخروف الذكي
        </div>
        <div
          style="
            left: 73px;
            top: 181px;
            position: absolute;
            text-align: right;
            color: white;
            font-size: 16px;
            font-family: Almarai;
            font-weight: 400;
            line-height: 19.31px;
            word-wrap: break-word;
          "
        >
          قيمة التفكير - من 5 إلى 8 سنوات
        </div>
      </div>
      <div
        class="carousel-item"
        style="
          width: 300px;
          height: 216px;
          position: relative;
          border-radius: 20px;
          overflow: hidden;
        "
      >
        <div
          style="
            width: 300px;
            height: 216px;
            left: 0px;
            top: 0px;
            position: absolute;
            background: linear-gradient(
                180deg,
                rgba(0, 0, 0, 0) 0%,
                rgba(0, 0, 0, 0.85) 100%
              ),
              url('images/Story\ image.png');
            background-size: cover;
            background-position: center;
          "
        ></div>
        <div
          style="
            left: 173px;
            top: 147px;
            position: absolute;
            text-align: right;
            color: #ffd7ba;
            font-size: 25px;
            font-family: Almarai;
            font-weight: 700;
            line-height: 30.18px;
            word-wrap: break-word;
          "
        >
          بذور الأمل
        </div>
        <div
          style="
            left: 68px;
            top: 181px;
            position: absolute;
            text-align: right;
            color: white;
            font-size: 16px;
            font-family: Almarai;
            font-weight: 400;
            line-height: 19.31px;
            word-wrap: break-word;
          "
        >
          قيمة التفاؤل - من 5 إلى 8 سنوات
        </div>
      </div>
    </div>
  </div>

  <!-- Previous Button -->
  <div
    id="prevButton"
    style="
      width: 48px;
      height: 52px;
      left: 103px;
      top: 1492px;
      position: absolute;
      background: #fec5bb;
      border-radius: 60px;
      justify-content: center;
      align-items: center;
      display: inline-flex;
    "
  >
    <div
      style="
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
      "
    >
      <div
        style="
          width: 20px;
          height: 20px;
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          transform: rotate(90deg);
        "
      >
        <div
          style="
            width: 0px;
            height: 0px;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 10px solid #18181b;
            position: absolute;
          "
        ></div>
      </div>
    </div>
  </div>

  <!-- Next Button -->
  <div
    id="nextButton"
    style="
      width: 48px;
      height: 52px;
      left: 1293px;
      top: 1487px;
      position: absolute;
      background: #fec5bb;
      border-radius: 60px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
    "
  >
    <div
      style="
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
      "
    >
      <div
        style="
          width: 20px;
          height: 20px;
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          transform: rotate(-90deg);
        "
      >
        <div
          style="
            width: 0px;
            height: 0px;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 10px solid #18181b;
            position: absolute;
          "
        ></div>
      </div>
    </div>
  </div>

  <a href="{{ url_for('stories') }}" style="text-decoration: none">
    <div
      style="
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 15px;
        padding-bottom: 15px;
        left: 103px;
        top: 1667px;
        position: absolute;
        background: #ffd7ba;
        border-radius: 28px;
        justify-content: center;
        align-items: center;
        display: inline-flex;
      "
    >
      <div
        style="
          text-align: center;
          color: #18181b;
          font-size: 16px;
          font-family: Almarai;
          font-weight: 700;
          word-wrap: break-word;
        "
      >
        اطلع على القصص
      </div>
    </div>
  </a>
</div>

<script>
  const prevButton = document.getElementById("prevButton");
  const nextButton = document.getElementById("nextButton");
  const carouselContainer = document.querySelector(".carousel-container");
  const totalItems = document.querySelectorAll(".carousel-item").length;
  const itemsToShow = 4; // number of items to show at once
  const itemWidth = 300; // width of each item including the margin between them

  let currentIndex = 0; // Keeps track of the currently visible set of items

  // Update carousel view based on current index
  function updateCarousel() {
    const offset = -(currentIndex * itemWidth); // Calculate the offset to move the carousel
    carouselContainer.style.transform = `translateX(${offset}px)`; // Apply the offset to move the carousel
  }

  // Show next item
  nextButton.onclick = function () {
    if (currentIndex < totalItems - itemsToShow) {
      currentIndex++;
      updateCarousel();
    }
  };

  // Show previous item
  prevButton.onclick = function () {
    if (currentIndex > 0) {
      currentIndex--;
      updateCarousel();
    }
  };
</script>
