<div
  style="
    width: 100%;
    height: 100%;
    position: relative;
    background: white;
    padding-bottom: 100px;
  "
>
  <img
    style="width: 100%; height: auto"
    src="{{ url_for('static', filename='images/Group 1.png') }}"
    alt="Navbar"
  />

  <div
    style="
      left: 615px;
      top: 201px;
      position: absolute;
      text-align: center;
      color: #ff6347;
      font-size: 20px;
      font-family: Almarai;
      font-weight: 400;
      line-height: 24.14px;
      word-wrap: break-word;
    "
  >
    مكتبة وراوٍ للأطفال العرب
  </div>
  <div
    style="
      width: 1245px;
      height: 21px;
      left: 113px;
      top: 698px;
      position: absolute;
      background: url('images/Divider.png');
      background-size: cover;
      background-position: center;
      border-radius: 10px;
    "
  ></div>

  <div
    style="
      width: 1245px;
      height: 21px;
      left: 113px;
      top: 1009px;
      position: absolute;
      background: url('images/Divider.png') no-repeat center center;
      background-size: cover;
      border-radius: 10px;
    "
  ></div>

  <div
    style="
      left: 121px;
      top: 482px;
      position: absolute;
      justify-content: flex-end;
      align-items: center;
      gap: 10px;
      display: inline-flex;
    "
  >
    <div
      style="
        width: 300px;
        height: 216px;
        position: relative;
        border-radius: 20px;
        overflow: hidden;
      "
    >
      <div
        style="
          width: 300px;
          height: 216px;
          left: 0px;
          top: 0px;
          position: absolute;
          background: linear-gradient(
              180deg,
              rgba(0, 0, 0, 0) 0%,
              rgba(0, 0, 0, 0.85) 100%
            ),
            url('images/Story\ image-4.png');
          background-size: cover;
          background-position: center;
        "
      ></div>
      <div
        style="
          left: 149px;
          top: 147px;
          position: absolute;
          text-align: right;
          color: #ffd7ba;
          font-size: 25px;
          font-family: Almarai;
          font-weight: 700;
          line-height: 30.18px;
          word-wrap: break-word;
        "
      >
        مدينة الغيوم
      </div>
      <div
        style="
          left: 18px;
          top: 181px;
          position: absolute;
          text-align: right;
          color: white;
          font-size: 16px;
          font-family: Almarai;
          font-weight: 400;
          line-height: 19.31px;
          word-wrap: break-word;
        "
      >
        التطلع والاستكشاف - من 5 إلى 8 سنوات
      </div>
    </div>
    <div
      style="
        width: 300px;
        height: 216px;
        position: relative;
        border-radius: 20px;
        overflow: hidden;
      "
    >
      <div
        style="
          width: 300px;
          height: 216px;
          left: 0px;
          top: 0px;
          position: absolute;
          background: linear-gradient(
              180deg,
              rgba(0, 0, 0, 0) 0%,
              rgba(0, 0, 0, 0.85) 100%
            ),
            url('images/Story\ image-2.png');
          background-size: cover;
          background-position: center;
        "
      ></div>
      <div
        style="
          left: 121px;
          top: 147px;
          position: absolute;
          text-align: right;
          color: #ffd7ba;
          font-size: 25px;
          font-family: Almarai;
          font-weight: 700;
          line-height: 30.18px;
          word-wrap: break-word;
        "
      >
        الحديقة السرية
      </div>
      <div
        style="
          left: 58px;
          top: 181px;
          position: absolute;
          text-align: right;
          color: white;
          font-size: 16px;
          font-family: Almarai;
          font-weight: 400;
          line-height: 19.31px;
          word-wrap: break-word;
        "
      >
        قيمة الطبيعة - من 8 إلى 10 سنوات
      </div>
    </div>
    <div
      style="
        width: 300px;
        height: 216px;
        position: relative;
        border-radius: 20px;
        overflow: hidden;
      "
    >
      <div
        style="
          width: 300px;
          height: 216px;
          left: 0px;
          top: 0px;
          position: absolute;
          background: linear-gradient(
              180deg,
              rgba(0, 0, 0, 0) 0%,
              rgba(0, 0, 0, 0.85) 100%
            ),
            url('images/Story\ image-3.png');
          background-size: cover;
          background-position: center;
        "
      ></div>
      <div
        style="
          left: 173px;
          top: 147px;
          position: absolute;
          text-align: right;
          color: #ffd7ba;
          font-size: 25px;
          font-family: Almarai;
          font-weight: 700;
          line-height: 30.18px;
          word-wrap: break-word;
        "
      >
        بذور الأمل
      </div>
      <div
        style="
          left: 68px;
          top: 181px;
          position: absolute;
          text-align: right;
          color: white;
          font-size: 16px;
          font-family: Almarai;
          font-weight: 400;
          line-height: 19.31px;
          word-wrap: break-word;
        "
      >
        قيمة التفاؤل - من 5 إلى 8 سنوات
      </div>
    </div>
    <div
      style="
        width: 300px;
        height: 216px;
        position: relative;
        border-radius: 20px;
        overflow: hidden;
      "
    >
      <!-- Background Image and Gradient -->
      <div
        style="
          width: 300px;
          height: 216px;
          left: 0px;
          top: 0px;
          position: absolute;
          background: linear-gradient(
              180deg,
              rgba(0, 0, 0, 0) 0%,
              rgba(0, 0, 0, 0.85) 100%
            ),
            url('images/Story\ image.png');
          background-size: cover;
          background-position: center;
        "
      ></div>
      <!-- Text Content -->
      <div
        style="
          left: 103px;
          top: 147px;
          position: absolute;
          text-align: center;
          color: #ffd7ba;
          font-size: 25px;
          font-family: Almarai;
          font-weight: 700;
          line-height: 30.18px;
          word-wrap: break-word;
        "
      >
        وفاء صديق العمر
      </div>
      <div
        style="
          left: 79px;
          top: 181px;
          position: absolute;
          text-align: center;
          color: white;
          font-size: 16px;
          font-family: Almarai;
          font-weight: 400;
          line-height: 19.31px;
          word-wrap: break-word;
        "
      >
        قيمة الوفاء - من 3 إلى 5 سنوات
      </div>
    </div>
  </div>
  <div
    style="
      left: 121px;
      top: 793px;
      position: absolute;
      justify-content: flex-end;
      align-items: center;
      gap: 10px;
      display: inline-flex;
    "
  >
    <div
      style="
        width: 300px;
        height: 216px;
        position: relative;
        border-radius: 20px;
        overflow: hidden;
      "
    >
      <div
        style="
          width: 300px;
          height: 216px;
          left: 0px;
          top: 0px;
          position: absolute;
          background: linear-gradient(
              180deg,
              rgba(0, 0, 0, 0) 0%,
              rgba(0, 0, 0, 0.85) 100%
            ),
            url('images/Story\ image-4.png');
          background-size: cover;
          background-position: center;
        "
      ></div>
      <div
        style="
          left: 149px;
          top: 147px;
          position: absolute;
          text-align: right;
          color: #ffd7ba;
          font-size: 25px;
          font-family: Almarai;
          font-weight: 700;
          line-height: 30.18px;
          word-wrap: break-word;
        "
      >
        مدينة الغيوم
      </div>
      <div
        style="
          left: 18px;
          top: 181px;
          position: absolute;
          text-align: right;
          color: white;
          font-size: 16px;
          font-family: Almarai;
          font-weight: 400;
          line-height: 19.31px;
          word-wrap: break-word;
        "
      >
        التطلع والاستكشاف - من 5 إلى 8 سنوات
      </div>
    </div>
    <div
      style="
        width: 300px;
        height: 216px;
        position: relative;
        border-radius: 20px;
        overflow: hidden;
      "
    >
      <div
        style="
          width: 300px;
          height: 216px;
          left: 0px;
          top: 0px;
          position: absolute;
          background: linear-gradient(
              180deg,
              rgba(0, 0, 0, 0) 0%,
              rgba(0, 0, 0, 0.85) 100%
            ),
            url('images/Story\ image-3.png');
          background-size: cover;
          background-position: center;
        "
      ></div>
      <div
        style="
          left: 119px;
          top: 147px;
          position: absolute;
          text-align: right;
          color: #ffd7ba;
          font-size: 25px;
          font-family: Almarai;
          font-weight: 700;
          line-height: 30.18px;
          word-wrap: break-word;
        "
      >
        الروبوت الرسام
      </div>
      <div
        style="
          left: 67px;
          top: 181px;
          position: absolute;
          text-align: right;
          color: white;
          font-size: 16px;
          font-family: Almarai;
          font-weight: 400;
          line-height: 19.31px;
          word-wrap: break-word;
        "
      >
        قيمة الابتكار - من 8 إلى 10 سنوات
      </div>
    </div>
    <div
      style="
        width: 300px;
        height: 216px;
        position: relative;
        border-radius: 20px;
        overflow: hidden;
      "
    >
      <div
        style="
          width: 300px;
          height: 216px;
          left: 0px;
          top: 0px;
          position: absolute;
          background: linear-gradient(
              180deg,
              rgba(0, 0, 0, 0) 0%,
              rgba(0, 0, 0, 0.85) 100%
            ),
            url('images/Story\ image-5.png');
          background-size: cover;
          background-position: center;
        "
      ></div>
      <div
        style="
          left: 145px;
          top: 147px;
          position: absolute;
          text-align: right;
          color: #ffd7ba;
          font-size: 25px;
          font-family: Almarai;
          font-weight: 700;
          line-height: 30.18px;
          word-wrap: break-word;
        "
      >
        الخروف الذكي
      </div>
      <div
        style="
          left: 73px;
          top: 181px;
          position: absolute;
          text-align: right;
          color: white;
          font-size: 16px;
          font-family: Almarai;
          font-weight: 400;
          line-height: 19.31px;
          word-wrap: break-word;
        "
      >
        قيمة التفكير - من 5 إلى 8 سنوات
      </div>
    </div>
    <div
      style="
        width: 300px;
        height: 216px;
        position: relative;
        border-radius: 20px;
        overflow: hidden;
      "
    >
      <div
        style="
          width: 300px;
          height: 216px;
          left: 0px;
          top: 0px;
          position: absolute;
          background: linear-gradient(
              180deg,
              rgba(0, 0, 0, 0) 0%,
              rgba(0, 0, 0, 0.85) 100%
            ),
            url('images/Story\ image.png');
          background-size: cover;
          background-position: center;
        "
      ></div>
      <div
        style="
          left: 173px;
          top: 147px;
          position: absolute;
          text-align: right;
          color: #ffd7ba;
          font-size: 25px;
          font-family: Almarai;
          font-weight: 700;
          line-height: 30.18px;
          word-wrap: break-word;
        "
      >
        بذور الأمل
      </div>
      <div
        style="
          left: 68px;
          top: 181px;
          position: absolute;
          text-align: right;
          color: white;
          font-size: 16px;
          font-family: Almarai;
          font-weight: 400;
          line-height: 19.31px;
          word-wrap: break-word;
        "
      >
        قيمة التفاؤل - من 5 إلى 8 سنوات
      </div>
    </div>
  </div>
  <div
    style="
      width: 912px;
      padding-left: 32px;
      padding-right: 32px;
      padding-top: 16px;
      padding-bottom: 16px;
      left: 371px;
      top: 340px;
      position: absolute;
      background: #e8e8e4;
      border-radius: 16px;
      justify-content: flex-end;
      align-items: center;
      gap: 10px;
      display: inline-flex;
    "
  >
    <input
      type="text"
      placeholder="ابحث ..."
      style="
        text-align: right;
        color: #52525b;
        font-size: 24px;
        font-family: Almarai;
        font-weight: 400;
        line-height: 36px;
        word-wrap: break-word;
        border: none;
        outline: none;
        background: transparent;
        width: 100%;
      "
    />
  </div>

  <div
    style="
      width: 233px;
      padding-left: 32px;
      padding-right: 32px;
      padding-top: 18px;
      padding-bottom: 16px;
      left: 126px;
      top: 340px;
      position: absolute;
      background: #fec5bb;
      border-radius: 28px;
      justify-content: center;
      align-items: center;
      display: inline-flex;
    "
  >
    <div
      style="
        text-align: center;
        color: #18181b;
        font-size: 24px;
        font-family: Almarai;
        font-weight: 700;
        line-height: 36px;
        word-wrap: break-word;
      "
    >
      اختر
    </div>
  </div>
</div>
